  <footer>
    <div class="footer__container--white">
        <div class = "category--row">
        <h4 class = "category__title">EDITOS</h4>
        <h4 class = "category__title">VIDEOS</h4>
        <h4 class = "category__title">INTERVIEWS</h4>
        <h4 class = "category__title">TEMOIGNAGES</h4>
        <h4 class = "category__title">JOURNAL DE BORD</h4>

        </div>
            <div class = "social__media__footer">
                  <img
                <img src="{{ asset('images/LinkedIn - Negative.svg') }}"
                class = "social__media--icon"
                alt="logo__In" />  
                <img
                <img src="{{ asset('images/Instagram - Negative.svg') }}"
                class = "social__media--icon"
                alt="logo__Insta" />     
                  <img
                <img src="{{ asset('images/Facebook - Negative.svg') }}"
                class = "social__media--icon"
                alt="logo__FB" />
                
                
                <img src="{{ asset('images/🦆 icon _big x_.svg') }}"
                class = "social__media--icon"
                alt="logo__twitter" /> 
          </div>
      <img
        <img src="{{ asset('images/logo_yearbook.svg') }}"
        class="logo__yearbook__footer"
        alt="logo_yearbook"
      />
    </div>
    </div>
  </footer>