<footer class="footer">
  {# <div class="footer__container"> #}
      <div class = "footer__article-categories-links">
        <h4 class = "footer__article-category-link">EDITOS</h4>
        <h4 class = "footer__article-category-link">VIDEOS</h4>
        <h4 class = "footer__article-category-link">INTERVIEWS</h4>
        <h4 class = "footer__article-category-link">TEMOIGNAGES</h4>
        <h4 class = "footer__article-category-link">JOURNAL DE BORD</h4> 
      </div>

      <div class = "footer__social-media-links">
      <a href="https://www.linkedin.com/school/hetic/?originalSubdomain=fr">
        <img 
          src="{{ asset('images/LinkedIn - Negative.svg') }}"
          class = "footer__social-media-link-icon"
          alt="logo__In" 
      </a>  
    <a href="https://www.instagram.com/instahetic/">
        <img src="{{ asset('images/Instagram - Negative.svg') }}"
        class = "footer__social-media-link-icon"
        alt="logo__Insta" />     
    </a>
          {# <img #}
    <a href="https://www.facebook.com/hetic.net/?locale=fr_FR">
        <img src="{{ asset('images/Facebook - Negative.svg') }}"
        class = "footer__social-media-link-icon"
        alt="logo__FB" />
    </a>

    <a href="https://twitter.com/hetic">      
      <img src="{{ asset('images/🦆 icon _big x_.svg') }}"
      class = "footer__social-media-link-icon"
      alt="logo__twitter" /> 
    </a>
    </div>
    
    <img
      <img src="{{ asset('images/logo_yearbook.svg') }}"
      class="footer__yearbook-logo"
      alt="logo_yearbook"
    />
  </div>
  {# </div> #}
</footer>