<header class="header">
  <a href="{{ path('app_yearbook') }}">
    <img src="{{ asset('images/logo_yearbook.svg') }}" class="logo-yearbook-header">
  </a>

    
    <div class="header__burger-menu">
        <div class="header__burger-menu-bar"></div>
        <div class="header__burger-menu-bar"></div>
        <div class="header__burger-menu-bar"></div>
        
        <div class="header__burger-menu-cross">
            <div class="header__burger-menu-cross-bar1"></div>
            <div class="header__burger-menu-cross-bar2"></div>
        </div>
    </div>

    <div class="header__pop-up-menu">
        <ul>
            <li><a href="{{ path('app_edito_page') }}">EDITOS</a></li>
            <li><a href="{{ path('app_video_page') }}">VIDEOS</a></li>
            <li><a href="{{ path('app_interview_page') }}">INTERVIEW</a></li>
            <li><a href="{{ path('app_temoignage_page') }}">TEMOIGNAGE</a></li>
            <li><a href="{{ path('app_journal_page') }}">JOURNAL DE BORD</a></li>
        </ul>
    </div>
</header>
