{% extends 'base.html.twig' %}

{% block title %}ImageEdge index{% endblock %}

{% block body %}
    <h1>ImageEdge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_edge in image_edges %}
            <tr>
                <td>{{ image_edge.id }}</td>
                <td>{{ image_edge.picture }}</td>
                <td>
                    <a href="{{ path('app_image_edge_show', {'id': image_edge.id}) }}">show</a>
                    <a href="{{ path('app_image_edge_edit', {'id': image_edge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_edge_new') }}">Create new</a>
{% endblock %}
