{% extends 'base.html.twig' %}

{% block body %}

<div class = "grid-article-large-card-container">
<div class = "article-large-card__title-container">
<h1 class="article-large-card__maintitle">Les Derniers articles</h1>
<h3 class="article-large-card__sub-title">Voir plus →</h3>
</div>
<div class = "article-large-card-container--row">

{% for article in articles %}

 <div class = "article-large-card">
    <img src="{{ asset('images/article_card_img.svg') }}"
    class="article-large-card__img"
    alt="article-card-img"/>
    <div class = "article-large-card__timer-container">
    <span class="article-large-card__category">TEMOIGNAGE METIER</span>
    <div class = "article-large-card__timer">
        <img src="{{ asset('images/timer.svg') }}"
    class="article-large-card__timer-img"
    alt="article__card-img"/>
    <span class="article-large-card__minutes">5 MIN</span>
    </div>
    </div>
    <div class = "article-large-card__text-container">
    <div class = "article-large-card__text">
    <h3 class="article-large-card__title">{{ article.title }}</h3>
     <h4>Par Kélia SIAO</h4>
     <h5>1 décembre 2022</h5>
    </div>
    </div>
 </div>

 {% endfor %}
 
<div class = "article-large-card">
    <img src="{{ asset('images/article_card_img.svg') }}"
    class="article-large-card__img"
    alt="article-card-img"/>
    <div class = "article-large-card__timer-container">
    <span class="article-large-card__category">TEMOIGNAGE METIER</span>
    <div class = "article-large-card__timer">
        <img src="{{ asset('images/timer.svg') }}"
    class="article-large-card__timer-img"
    alt="article__card-img"/>
    <span class="article-large-card__minutes">5 MIN</span>
    </div>
    </div>
    <div class = "article-large-card__text-container">
    <div class = "article-large-card__text">
    <h3 class="article-large-card__title">Les frères Da Silva à la conquête du monde<br>professionnel</h3>
     <h4>Par Kélia SIAO</h4>
     <h5>1 décembre 2022</h5>
    </div>
    </div>
 </div>
 </div>
</div>

{% endblock %}
