{% extends 'base.html.twig' %}

{% block title %}ExternalLinks index{% endblock %}

{% block body %}
    <h1>ExternalLinks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for external_link in external_links %}
            <tr>
                <td>{{ external_link.id }}</td>
                <td>{{ external_link.url }}</td>
                <td>
                    <a href="{{ path('app_external_links_show', {'id': external_link.id}) }}">show</a>
                    <a href="{{ path('app_external_links_edit', {'id': external_link.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_external_links_new') }}">Create new</a>
{% endblock %}
