<div class = "grid-article-card-container">
<div class = "article-card__title-container">
<h1 class="article-large-card__maintitle">Les témoignages</h1>
<h3 class="article-large-card__sub-title"> Voir plus →</h3>

</div>
<div class = "article-card-container--row">
 <div class = "article-card">
    <img src="{{ asset('images/photo_article_3_by_3_grid.svg') }}"
    class="article-card__img"
    alt="article-card-img"/>
    <div class = "article-card__timer-container">
    <span class="article-card__category">TEMOIGNAGE METIER</span>
    <div class = "article-card__timer">
        <img src="{{ asset('images/timer.svg') }}"
    class="article-card__timer-img"
    alt="article__card-img"/>
    <span class="article-card__minutes">5 MIN</span>
    </div>
    </div>
    <div class = "article-card__text-container">
    <div class = "article-card__text">
    <h3 class="article-card__title">Les frères Da Silva à la conquête du monde professionnel</h3>
     <h4>Par Kélia SIAO</h4>
     <h5>1 décembre 2022</h5>
    </div>
    </div>
 </div>
<div class = "article-card">
    <img src="{{ asset('images/article_card_img.svg') }}"
    class="article-card__img"
    alt="article-card-img"/>
    <div class = "article-card__timer-container">
    <span class="article-card__category">TEMOIGNAGE METIER</span>
    <div class = "article-card__timer">
        <img src="{{ asset('images/timer.svg') }}"
    class="article-card__timer-img"
    alt="article__card-img"/>
    <span class="article-card__minutes">5 MIN</span>
    </div>
    </div>
    <div class = "article-card__text-container">
    <div class = "article-card__text">
    <h3 class="article-card__title">Les frères Da Silva à la conquête du monde professionnel</h3>
     <h4>Par Kélia SIAO</h4>
     <h5>1 décembre 2022</h5>
    </div>
    </div>
 </div>
 <div class = "article-card">
    <img src="{{ asset('images/article_card_img.svg') }}"
    class="article-card__img"
    alt="article-card-img"/>
    <div class = "article-card__timer-container">
    <span class="article-card__category">TEMOIGNAGE METIER</span>
    <div class = "article-card__timer">
        <img src="{{ asset('images/timer.svg') }}"
    class="article-card__timer-img"
    alt="article__card-img"/>
    <span class="article-card__minutes">5 MIN</span>
    </div>
    </div>
    <div class = "article-card__text-container">
    <div class = "article-card__text">
    <h3 class="article-card__title">Les frères Da Silva à la conquête du monde professionnel</h3>
     <h4>Par Kélia SIAO</h4>
     <h5>1 décembre 2022</h5>
    </div>
    </div>
 </div>
 </div>
</div>
